<div id="footer-navbar" data-role="navbar" data-theme="a" data-mini="true">
    <ul>
        <li><a href="#/" data-icon="home" data-iconpos="notext"
               data-shadow="false" data-iconshadow="false"
               class="ui-icon-nodisc">Dashboard</a></li>
        <li><a href="#/modules" data-icon="gear" data-iconpos="notext"
               dat-shadow="false" data-iconshadow="false"
               class="ui-icon-nodisc">Modules</a></li>
        <li><a href="#/optimize" data-icon="wrench" data-iconpos="notext"
               data-shadow="false" data-iconshadow="false"
               class="ui-icon-nodisc">Optimize</a></li>
        <li><a href="#/manager" data-icon="file" data-iconpos="notext"
               data-shadow="false" data-iconshadow="false"
               class="ui-icon-nodisc">Views</a></li>
        <li><a href="#/games" data-icon="th-list" data-iconpos="notext"
               data-shadow="false" data-iconshadow="false"
               class="ui-icon-nodisc">Games</a></li>
    </ul>
</div>
