<div class="ui-grid-c ui-responsive">
    <div class="ui-block-a"><div class="ui-body ui-body-c">ELO</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ score_points }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Gender</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ genderLong }}</div></div>

    <div class="ui-block-a"><div class="ui-body ui-body-c">Country</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ countryLong }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Age</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ age }}</div></div>

    <div class="ui-block-a"><div class="ui-body ui-body-c">Games</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ score_games }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Wins</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ score_wins }}</div></div>

    <div class="ui-block-a"><div class="ui-body ui-body-c">Draws</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ score_draws }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Losses</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ score_losses }}</div></div>
</div>