#### IDEs entries ####

*.iml
*.ipr
*.iws
.idea/
.project
.settings
*~

#### cordova-cli entries ####

# Android
platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/
platforms/android/res/xml/config.xml
platforms/android/local.properties
platforms/android/libs
platforms/android/cordova

# The following entries should probably be removed to start 
# development, added here to not include surplus files in 
# regards to this boilerplate code.
platforms
plugins


# iOS
platforms/ios/build/
platforms/ios/CordovaLib/build/
platforms/ios/www
platforms/ios/MyPace/config.xml
platforms/ios/.staging

# Emulator logs
platforms/ios/cordova/console.log
