<h1>Settings</h1>

<p>Settings are needed to properly play chess with MKGI mobile. Remember always test the
    inputed <code>Server Url</code> before continue.
</p>

<form id="settings-form" enctype="multipart/form-data">

    <label for="username" class="ui-hidden-accessible">User Name:</label>
    <input type="text" name="username" id="username" placeholder="User name"
           value="{{ username }}" data-mini="true">

    <label for="userpassword" class="ui-hidden-accessible">User Password:</label>
    <input type="password" name="password" id="userpassword"
           placeholder="User password" value="{{ password }}"
           data-mini="true">

    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend class="ui-hidden-accessible">Gender:</legend>
        <input type="radio" name="gender" id="radio-choice-v-6a" value="m"
               checked="checked">
        <label for="radio-choice-v-6a">Male</label>
        <input type="radio" name="gender" id="radio-choice-v-6b" value="f">
        <label for="radio-choice-v-6b">Female</label>
    </fieldset>

    <label for="age" class="ui-hidden-accessible">Age:</label>
    <input type="number" name="age" pattern="[0-9]*" id="age" placeholder="Age"
           value="{{ age }}" min="10" max="60">

    <label for="server" class="ui-hidden-accessible">Server Url:</label>

    <div data-role="fieldcontain" data-type="horizontal">
        <input type="url" name="server" id="server" placeholder="Server Base Url"
               value="{{ server }}">
        <a href="#" data-role="button" data-inline="true" data-mini="true"
           data-theme="a" data-icon="question-sign"
           data-shadow="false" data-iconshadow="false">Test</a>
        <a href="#" data-role="button" data-inline="true" data-mini="true"
           data-theme="a" data-icon="save"
           data-shadow="false" data-iconshadow="false">Save</a>
    </div>

</form>
