<table>
    <tbody>
    <tr>
        <td></td>
        <td class="ui-bar">David M. Paz</td>
    </tr>
    <tr>
        <td class="ui-bar">Elo</td>
        <td class="ui-bar-e centered">1402</td>
        <td class="ui-bar">Games</td>
        <td class="ui-bar-e">&nbsp;40&nbsp;</td>
    </tr>
    <tr>
        <td class="ui-bar">Gender</td>
        <td class="ui-bar-b centered">Male</td>
        <td class="ui-bar">Wins</td>
        <td class="ui-bar-e">&nbsp;28&nbsp;</td>
    </tr>
    <tr>
        <td class="ui-bar">Country</td>
        <td class="ui-bar-b centered">Cuba</td>
        <td class="ui-bar">Draws</td>
        <td class="ui-bar-e">&nbsp;0&nbsp;</td>
    </tr>
    <tr>
        <td class="ui-bar">Age</td>
        <td class="ui-bar-b centered">25 - 35</td>
        <td class="ui-bar">Losses</td>
        <td class="ui-bar-e">&nbsp;12&nbsp;</td>
    </tr>
    </tbody>
</table>

<form id="play-against" name="play-against">
    <div data-role="fieldcontain" data-type="horizontal">
        <input type="text" name="opponent" id="opponent" placeholder="Play against..."
               value="" data-mini="true">
        <a href="#" data-role="button" data-inline="true" data-icon="chevron-right"
            data-shadow="false" data-iconshadow="false" data-mini="true"
           data-theme="a">Go!</a>
    </div>
</form>