
<div class="ui-grid-solo ui-responsive">
    <div class="ui-block-a">
        <a href="#/profile" data-role="button" data-theme="d">{{ realname }}</a>
    </div>
</div>

<div class="ui-grid-c ui-responsive">
    <div class="ui-block-a"><div class="ui-body ui-body-c">ELO</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ score_points }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Gender</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ genderLong }}</div></div>

    <div class="ui-block-a"><div class="ui-body ui-body-c">Country</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ countryLong }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Age</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ age }}</div></div>

    <div class="ui-block-a"><div class="ui-body ui-body-c">Games</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ score_games }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Wins</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ score_win }}</div></div>

    <div class="ui-block-a"><div class="ui-body ui-body-c">Draws</div></div>
    <div class="ui-block-b"><div class="ui-body ui-body-e">{{ score_draw }}</div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-c">Losses</div></div>
    <div class="ui-block-d"><div class="ui-body ui-body-e">{{ score_losses }}</div></div>
</div>

<form id="play-against" name="play-against">
    <div data-role="fieldcontain" data-type="horizontal">
        <input type="text" name="opponent" id="opponent" placeholder="Play against..."
               value="" data-mini="true">
        <a href="#" data-role="button" data-inline="true" data-icon="chevron-right"
           data-shadow="false" data-iconshadow="false" data-mini="true"
           data-theme="a">Go!</a>
    </div>
</form>