<span class="ui-bar">David M. Paz</span>
<div>
    <table>
        <tbody>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td class="ui-bar">Elo</td>
            <td class="ui-bar-e centered">1402</td>
        </tr>
        <tr>
            <td class="ui-bar">Gender</td>
            <td class="ui-bar-b centered">Male</td>
        </tr>
        <tr>
            <td class="ui-bar">Country</td>
            <td class="ui-bar-b centered">Cuba</td>
        </tr>
        <tr>
            <td class="ui-bar">Age</td>
            <td class="ui-bar-b centered">25 - 35</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td>Games</td>
            <td>Wins</td>
            <td>Draws</td>
            <td>Losses</td>
        </tr>
        <tr>
            <td class="ui-bar-e centered">&nbsp;40&nbsp;</td>
            <td class="ui-bar-e centered">&nbsp;28&nbsp;</td>
            <td class="ui-bar-e centered">&nbsp;0&nbsp;</td>
            <td class="ui-bar-e centered">&nbsp;12&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>

<form id="play-against" name="play-against">
    <div data-role="fieldcontain" data-type="horizontal">
        <input type="text" name="opponent" id="opponent" placeholder="Play against..."
               value="" data-mini="true">
        <a href="#" data-role="button" data-inline="true" data-icon="chevron-right"
           data-shadow="false" data-iconshadow="false" data-mini="true"
           data-theme="a">Go!</a>
    </div>
</form>